nav.default-header {
    /*
    background-color: #4cbf64;
    padding: 2%;
    */
    position: fixed;
    width: 100%;
    transition: .6s all;
}

nav.scrolled {
    background-color: #ffffff !important;
    transition: .6s ease-in;
    box-shadow: -2px -2px 17px 12px rgba(103, 69, 69, 0.51);
    z-index: 10;
}

nav a {
    text-decoration: none;
    color: black;
}

nav.scrolled a {
    text-decoration: none;

}

body {
    margin: 0px;
}

.menu {
    padding: 3%;
}

.header-logo {
  float: left;
  padding-left: 2%;
  color: white;
}

.logo {
  color: rgba(28, 86, 162, 0.7);
  font-size: 46px;
  font-family: cursive, sans-serif;
  transition: .2s cubic-bezier(1, 0, 0.15, 1.02);
}
.header-menu {
    text-align: right;
    padding-top: 2%;
}

.home-image {
    /* float: left; *//* margin-top:10%; *//* width: 100%; *//* position: relative; */
    height: 110vh;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-image: url('home-page-preview.jpg');
}

.social-icons {
    padding-top: 25%;
}

.social-icons button {
    padding: 10px;
    border-radius: 2px;
    border: 0px;
    background-color: darkseagreen;
}

.headers {
    padding-top: 4%;
}

.work_group {
    position: relative;
    z-index: 1;
}

.work_image {
    width: 100%;
    border-radius: 23px;
}

.work_desc {
    position: absolute;
    bottom: 0px;
    background-color: white;
    color: darkred;
    width: 100%;
    padding: 0px;
    line-height: 0px;
}

.work_content {
    padding: 0px;

}

.selected {
    color: red;
    font-size: 24px;
    font-family: fantasy;
    transition: .2s cubic-bezier(1, 0, 0.15, 1.02);
}

.page {
    height: 100vh;

}
.cadetblue {
    background-image: url(work_bg.png);
    background-size: cover;
    opacity: 0.8;
}

.chocolate {
    background-color: rgb(63, 155, 167);
}

table tr {
    padding: 10px;
}

.social {
  text-decoration: none;
  color: black;
  background-color: #eee;
  padding: 1%;
  border-radius: 22px;
}
.social:hover {
  background-color: #76af76;
}
