nav.default-header {
    /*
    background-color: #4cbf64;
    padding: 2%;
    */
    position: fixed;
    width: 100%;
    transition: .6s all;
}

nav.scrolled {
    background-color: #1c8031 !important;
    color: white;
    transition: .6s ease-in;
}

nav a {
    text-decoration: none;
    color: white;
}

nav.scrolled a {
    text-decoration: none;

}

body {
    margin: 0px;
}

.menu {
    padding: 3%;
}

.header-logo {
  float: left;
  padding-top: 2%;
  padding-left: 2%;
  color: white;
}

.header-menu {
    text-align: right;
    padding-top: 2%;
}

.home-image {
    /* float: left; *//* margin-top:10%; *//* width: 100%; *//* position: relative; */
    height: 110vh;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-image: url('home-page-preview.jpg');
}

.social-icons {
    padding-top: 25%;
}

.social-icons button {
    padding: 10px;
    border-radius: 2px;
    border: 0px;
    background-color: darkseagreen;
}

.headers {
    padding-top: 4%;
}

.work_group {
    position: relative;
    border: 1px solid black;
    z-index: -1;
}

.work_image {
    width: 100%;
}

.work_desc {
    position: absolute;
    bottom: 0px;
    background-color: white;
    color: darkred;
    width: 100%;
    padding: 0px;
    line-height: 0px;
}

.work_content {
    padding: 0px;

}

.selected {
    color: red;
    font-size: 24px;
    font-family: fantasy;
    transition: .2s cubic-bezier(1, 0, 0.15, 1.02);
}

.page {
    height: 100vh;

}
.cadetblue {
    background-color: cadetblue;
}

.chartreuse {
    background-color: chartreuse;
}
.chocolate {
    background-color: chocolate;
}

table tr {
    padding: 10px;
}